# Setup
title: Machine Learning
tagline: CS SBU
description: Fundamentals of Machine Learning. Spring 2024
baseurl: '/ML-Fundamentals-Spring-2024' # the subpath of your site, e.g. /blog
url: 'https://hadifarahani.github.io' # the base hostname & protocol for your site, e.g. http://example.com
exclude: ["Gemfile", "Gemfile.lock", "LICENSE", "README.md",vendor]

# Theme settings
remote_theme: pmarsceill/just-the-docs@v0.3.3
color_scheme: custom
search_enabled: true
heading_anchors: true
permalink: pretty
aux_links:
  Repo on GitHub:
    - 'https://github.com/hadifarahani/ML-Fundamentals-Spring-202'
footer_content: 

# Collections for website data
collections:
  staffers:
  modules:
  schedules:
  announcements:
# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: staffers
    values:
      layout: staffer
      subpath: '/assets/images/'
  - scope:
      path: ''
      type: modules
    values:
      layout: module
  - scope:
      path: ''
      type: schedules
    values:
      layout: schedule
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

plugins:
  - jekyll-seo-tag
